# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/
test_run.py
Document.txt